<%- include("_header") -%>

<h1>Create a record</h1>

<form action="/create" method="post">
    <div class="form-horizontal">

        <%- include("_editor") -%>
        <table>
            <tr>
                <td><label for="cusId"> ID</label>:</td>
                <td><input type="number" name="cusId" id="cusId" value="<%= customer.cusId %>" /></td>
                <td>(required)</td>
            </tr>
            <tr>
                <td><label for="cusFname">First Name</label>:</td>
                <td><input type="text" name="cusFname" id="cusFname" value="<%= customer.cusFname %>" /></td>
                <td>(required)</td>
            </tr>
            <tr>
                <td><label for="cusLname">Last Name</label>:</td>
                <td><input type="text" name="cusLname" id="cusLname" value="<%= customer.cusLname %>" /></td>
                <td>(required)</td>
            </tr>
            <tr>
                <td><label for="cusState">State</label>:</td>
                <td><input type="text" name="cusState" id="cusState" value="<%= customer.cusState %>" /></td>

            </tr>
            <tr>
                <td><label for="cusSalesPrev">Sales YTD</label>:</td>
                <td><input type="text" name="cusSalesPrev" id="cusSalesPrev" value="<%= customer.cusSalesPrev %>" />
                </td>

            </tr>
            <tr>
                <td><label for="cusSalesPrev">State</label>:</td>
                <td><input type="text" name="cusSalesPrev" id="cusSalesPrev" value="<%= customer.cusSalesPrev %>" />
                </td>

            </tr>
            <tr>
                <td span="2">
                    <input type="submit" value="Save" class="btn btn-default btn-success" />
                    <a class="btn btn-outline-dark cancel" href="/create">Reset</a>
                </td>
            </tr>
        </table>
    </div>
</form>